<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
  </head>

  <body>

    <header>
      
      <div class="container">
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
       
        <img style="max-width: 260px; height: auto;" src="/assets/img/ant2.jpg" alt="me">  
      </div>
      
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>

      <div style="margin-top: 30px; padding: 8px; background-color: #404040">
        <p style="font-size:14px">
          <i>"Software has two types of value: the value of its behavior and the value of its structure. 
            The second of these [as a real software engineer understands] is the greater of the two because 
            it is this value that makes software SOFT."<br /><br />
            - Robert C. Martin
          </i>
        </p>
      </div>
      
    </div>
  </body>
</html>
